<form name="prof" novalidate id="profile" data-abide="ajax">
<br>
				<div class="row" align="center">
					<div class="col l4 hub">
						&nbsp;
					</div>
					<div class="col l4 hub" align="center">
						<div class="row dropzone" >
							<div class="row"><img ng-src="{{ preview1 }}" ng-show="profile.picture1.data!=undefined" style="width:100%;height:200px;" alt="">
							</div>
							<div class="row">
								<div class="col l12">
									<div class="file-field input-field btn">
										<span>Select Img</span>
							       		<input type="file" uploader-model="profile.picture1" />
									</div>
								</div>
							</div>
						</div>
						<div class="row" align="center">
							PICTURE LOADED: {{ profile.picture1!=undefined }}
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick1()" class="btn col s4 " > PRUEBA 1</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick2()" class="btn col s4 " > PRUEBA 2</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick3()" class="btn col s4 " > PRUEBA 3</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick4()" class="btn col s4 " > PRUEBA 4</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick5()" class="btn col s4 " > PRUEBA 5</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick6()" class="btn col s4 " > PRUEBA 6</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick7()" class="btn col s4 " > PRUEBA 7</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick8()" class="btn col s4 " > PRUEBA 8</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick9()" class="btn col s4 " > PRUEBA 9</a>
						</div>
						<div class="row" align="center">
							<a tooltipped ng-click="profileclick10()" class="btn col s4 " > PRUEBA 10</a>
						</div>
						
					</div>
					
					<div class="col l4 hub">
						&nbsp;
					</div>

				</div>
					
				
</form>